@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap');


* {
  box-sizing: border-box;
}

:root {
  /*  */
  --family: 'Roboto', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-normal: 600;
  --fw-light: 300;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

body {
  margin: 0;

}


.bgImg {
  background: url('../src/img/ice-Cream.png') left 50% bottom 87%/cover no-repeat border-box;
    position: relative;
    height: 49.875rem;;

}

.iconsContainer {
  display: flex;
  gap: 1.5rem;
  position: relative;
  margin-right: 50px;
}